bin
obj
.vscode
appsettings.json
publish
CryptoTradingApp-P2.sln

BackEnd/CryptoApi/CryptoApi.csproj
BackEnd/CryptoBL/AccountUser.cs
BackEnd/CryptoBL/Class1.cs
BackEnd/BLTesting/CryptoBLTest.csproj
BackEnd/BLTesting/CryptoBLTesting.cs
BackEnd/CryptoBL/AccountUser.cs
BackEnd/CryptoDL/IRepository.cs
BackEnd/CryptoDL/Repository.cs
BackEnd/Model/Assets.cs
BackEnd/Model/CurrentPrice.cs
BackEnd/Model/Model.csproj
BackEnd/Model/Notification.cs
BackEnd/Model/Wallet.cs
BackEnd/UnitTest/AccountUserTest.cs
BackEnd/UnitTest/AssetsTest.cs
BackEnd/UnitTest/NotificationTest.cs
BackEnd/UnitTest/OrderHistoryTest.cs
BackEnd/UnitTest/UnitTest.csproj
BackEnd/UnitTest/WalletTest.cs
