<!-- Top section -->
<section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
          <h1>Experience crypto for free, without risk.</h1>
          <h2>Papertrading is completely free to use, and allows you to trade using delayed exchange data.</h2>
          <div class="d-flex justify-content-center justify-content-lg-start">
            <a routerLink="/register" class="btn-get-started scrollto">Get Started</a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
          <img src="assets/images/devices.png" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

</section>

<!-- ======= Frequently Asked Questions Section ======= -->
<section id="faq" class="faq section-bg">
<div class="container" data-aos="fade-up">

    <div class="section-title">
    <h2>Frequently Asked Questions</h2>
    <p>What is cryptocurrency? How does cryptocurrency work? What controls cryptocurrency? Want to know all this? If yes, read on to find the answers to common cryptocurrency FAQs.</p>
    </div>

    <div class="faq-list">
    <ul>
        <li data-aos="fade-up" data-aos-delay="100">
        <i class="bx fa-solid fa-question"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">What is cryptocurrency? </a>
        <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
            <p>
            Cryptocurrency is basically a digital form of currency with the support of cryptographic security for conducting trusted transactions. The underlying technology which runs cryptocurrencies is blockchain, and it offers a ledger for documenting all transactions.
            <br/><br/>
            The cryptocurrencies run as decentralized systems or networks without allowing complete control to a specific entity. Another important highlight of cryptocurrencies refers to the method for generating them. For example, miners could use their computing resources and electricity for mining cryptocurrency or stake their assets in a network for earning governance tokens.  
            </p>
        </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="200">
        <i class="bx fa-solid fa-question"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">How do cryptocurrencies work? </a>
        <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
            <p>
            The working of cryptocurrencies is also a common highlight in cryptocurrency questions and answers for beginners. Popular cryptocurrencies such as Ethereum and Bitcoin work by using three basic pieces of information. The first important aspect in the working of cryptocurrencies is the address related to a specific account. The second important piece of information is the balance you would use for sending and receiving funds. 
            <br/><br/>
            Another significant aspect for the working of cryptocurrencies would refer to the public and private keys associated with a specific address. You can generate a private key by generating a Bitcoin address which would also help in identifying the corresponding public key. Subsequently, you can use the address as a representative of the public key for different transactions. On the other hand, the private key offers control over ownership of the funds in a specific address. 
            </p>
        </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="300">
        <i class="bx fa-solid fa-question"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">Who controls cryptocurrencies? </a>
        <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
            <p>
            The commonly asked cryptocurrency questions for beginners would also point towards the implication of control and ownership of cryptocurrencies. Blockchain does not allocate control to a single entity in the case of cryptocurrencies. However, the creators or developers of cryptocurrencies can set specific parameters such as rules for purchasing or selling cryptocurrency. 
            <br/><br/>
            On the other hand, users get the privilege of controlling or managing the day-to-day operations of cryptocurrencies in a distributed manner. In addition, the identity of owners is anonymous, and you could not find any solid regulatory framework for verifying ownership of cryptocurrencies. 
            <br/><br/>
            However, some countries are investing efforts in introducing some regulations in this area for countering illegal activities. The legal framework for cryptocurrencies could help governments in fighting off the concerns of terrorism financing and money laundering with cryptocurrencies. Furthermore, regulations could also strengthen control of governments over monetary policies with respect to cryptocurrencies.  
            </p>
        </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="400">
        <i class="bx fa-solid fa-question"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed">Is it reasonable to invest in cryptocurrencies? </a>
        <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
            <p>
            Investment in cryptocurrencies is also one of the notable highlights in cryptocurrency FAQs, especially for beginners. If you want to find whether cryptocurrencies are a good investment, then you should definitely know that they are volatile. Cryptocurrencies do not generate any cash flow like real currencies and are not stable. A currency should have stability which could help merchants and consumers in deciding the fair price for goods.
            <br/><br/>
            Bitcoin and many other popular cryptocurrencies have barely shown any sign of stability since their inception. For example, after rising to almost $20,000 in 2017, the value of Bitcoin dropped to almost $3200 in 2018. Now in 2021, Bitcoin has been successful in attaining record high levels. With price volatility as the main concern, it is quick to arrive at a conclusion about investments in cryptocurrency. 
            </p>
        </div>
        </li>

    </ul>
    </div>

</div>
</section>

<section id="skills" class="skills">
<div class="container" data-aos="fade-up">

    <div class="row">
    <div class="col-lg-6 d-flex align-items-center" data-aos="fade-right" data-aos-delay="100">
        <img src="./assets/images/skills.png" class="img-fluid" alt="">
    </div>
    <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left" data-aos-delay="100">
        <h3>About CryptTrade</h3>
        <p class="fst-italic">
        All the techngologies that make up this web application.
        </p>

        <div class="skills-content">

        <div class="progress">
            <span class="skill">HTML5 <i class="val">100%</i></span>
            <div class="progress-bar-wrap">
            <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>

        <div class="progress">
            <span class="skill">Angular <i class="val">90%</i></span>
            <div class="progress-bar-wrap">
            <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>

        <div class="progress">
            <span class="skill">C# <i class="val">75%</i></span>
            <div class="progress-bar-wrap">
            <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>

        <div class="progress">
            <span class="skill">SQL <i class="val">55%</i></span>
            <div class="progress-bar-wrap">
            <div class="progress-bar" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>

        </div>

    </div>
    </div>

</div>
</section>