[data-theme="dark"] {
  background-color: rgb(11,11,11) !important;
  color: #8e8e8e;
}
[data-theme="dark"] .bg-light {
  background-color: rgb(11,11,11) !important;
  color: #8e8e8e;
}
[data-theme="dark"] .btn-dark {
  background-color: #fff!important;
  color: #212529;
}

/* Navigation bar section */
[data-theme="dark"] .navbar .navbar-nav .nav-link  {
  color: #8e8e8e!important;
}
[data-theme="dark"] .navbar .navbar-nav .nav-link:hover {
  color: #ffd000!important;
}
[data-theme="dark"] .navbar .navbar-nav > .active > a {
  color: #cf9f15!important;
}
[data-theme="dark"] .navbar-toggler {
  border-color: rgb(151,151,151) !important;
}
[data-theme="dark"] .navbar-toggler {
  color: white !important;
}

/* Signup & login forms */
[data-theme="dark"] .card {
  background-color: rgba(0,0,0,0) !important;
  border-color: rgb(151,151,151);
}
[data-theme="dark"] .signup {
  background-color: rgba(0,0,0,0) !important;
  color: #8e8e8e !important;
}
[data-theme="dark"] .login {
  background-color: rgba(0,0,0,0) !important;
  color: #8e8e8e !important;
}
[data-theme="dark"] .account {
  background-color: rgba(0,0,0,0) !important;
  color: #8e8e8e !important;
}

/* order history */
[data-theme="dark"] .table {
  background-color: rgba(0,0,0,0) !important;
  color: #8e8e8e !important;
}

[data-theme="dark"] .th {
  color: #495057;
  background-color: #e9ecef;
  border-color: #dee2e6;
}

[data-theme="dark"] #chart {
  background-color: rgba(221, 23, 23, 0) !important;
  color: #8e8e8e !important;
}

[data-theme="dark"] .cid-qpgB8eNpRI {
    background-color: #1e1e1e;
}
[data-theme="dark"] .cid-qpgNZ1vwzD {
  background-color: #0f0f0f;
}