<!-- Profile settings section -->
<section class="ml-1" *ngIf="currentUser; else loggedOut">
    <div class="parent-container d-flex">
        <div class="container">
            <div class="card text-black h-100" style="border-radius: 25px;">
                <div class="card-body p-md-5">
                    <div class="row justify-content-center">
                        <div class="col-12 col-lg-10 col-xl-8 mx-auto">
                            <h2 class="h3 mb-4 page-title">Account Settings</h2>
                            <div class="my-4">
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="firstname">Name</label>
                                        <p>{{ currentUser.name }}</p>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="inputAddress5">Age</label>
                                        <p>{{ currentUser.age }}</p>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="firstname">Username</label>
                                        <p>{{ currentUser.username }}</p>
                                    </div>
                                </div>
                                <hr class="my-4" />
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="firstname">Date Account Created</label>
                                        <p>{{ currentUser.dateCreated }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card text-black" style="border-radius: 25px;">
                <div class="card-body p-md-5">
                    <div class="row justify-content-center">
                        <div class="col-12 col-lg-10 col-xl-8 mx-auto">
                            <h2 class="h3 mb-4 page-title">Change Settings</h2>
                            <div class="my-4">
                                <form name="settings"
                                (ngSubmit)="onSubmit()"
                                [formGroup]="settings"
                                >
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label class="form-label" for="newUsername">New Username</label>
                                            <input type="text"
                                            class="form-control"
                                            name="newUsername"
                                            formControlName="newUsername"
                                            [ngClass]="{ 'is-invalid': submitted && f['newUsername'].errors }"/>
                                        </div>
                                        <div class="alert-danger" *ngIf="submitted && f['newUsername'].errors">
                                            <div *ngIf="f['newUsername'].errors['minlength']">
                                              Username must be at least 6 characters
                                            </div>
                                            <div *ngIf="f['newUsername'].errors['maxlength']">
                                              Username must be at most 20 characters
                                            </div>
                                          </div>
                                    </div>
                                    <hr class="my-4" />
                                    <div class="row mb-4">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="oldPassword">Old Password</label>
                                                <input type="password"
                                                class="form-control"
                                                name="oldPassword"
                                                formControlName="oldPassword"
                                                [ngClass]="{ 'is-invalid': submitted && f['oldPassword'].errors }"
                                                />
                                                <div class="alert-danger" *ngIf="submitted && f['oldPassword'].errors">
                                                    <div *ngIf="f['oldPassword'].errors['required']">Password is required</div>
                                                    <div *ngIf="f['oldPassword'].errors['minlength']">
                                                      Password must be at least 6 characters
                                                    </div>
                                                    <div *ngIf="f['oldPassword'].errors['maxlength']">
                                                      Password must not exceed 40 characters
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="inputPassword5">New Password</label>
                                                <input type="password"
                                                class="form-control"
                                                name="newPassword"
                                                formControlName="newPassword"
                                                [ngClass]="{ 'is-invalid': submitted && f['newPassword'].errors }"
                                                />
                                                <div class="alert-danger" *ngIf="submitted && f['newPassword'].errors">
                                                    <div *ngIf="f['newPassword'].errors['required']">Password is required</div>
                                                    <div *ngIf="f['newPassword'].errors['minlength']">
                                                      Password must be at least 6 characters
                                                    </div>
                                                    <div *ngIf="f['newPassword'].errors['maxlength']">
                                                      Password must not exceed 40 characters
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="inputPassword6">Confirm Password</label>
                                                <input type="password"
                                                class="form-control"
                                                name="confirmPassword"
                                                formControlName="confirmPassword"
                                                [ngClass]="{ 'is-invalid': submitted && f['confirmPassword'].errors }"
                                                />
                                                <div class="alert-danger" *ngIf="submitted && f['confirmPassword'].errors">
                                                    <div *ngIf="f['confirmPassword'].errors['matching']">
                                                        The two passwords do not match
                                                      </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <p class="mb-2">Password requirements</p>
                                            <p class="small text-muted mb-2">To create a new password, you have to meet all of the following requirements:</p>
                                            <ul class="small text-muted pl-4 mb-0">
                                                <li>Minimum 6 characters</li>
                                                <li>Maximum 40 characters</li>
                                                <li>At least one special character</li>
                                                <li>At least one number</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <button class="btn btn-primary gold me-1" (click)="doChanges()">Save Changes</button>
                                    <button class="btn btn-primary delete" (click)="doDelete()">Delete Account</button>
                                    <div class="alert alert-danger" *ngIf="isChangesFailed">
                                        Could not execute requested changes. {{errorMessage}}
                                    </div>
                                    <div class="alert alert-success" *ngIf="isChangesSuccess">
                                        {{successMessage}}
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- User position section -->
<section class="ml-1" id="positions" *ngIf="currentUser; else loggedOut">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="card text-black w-100" style="border-radius: 25px;">
                <div class="card-body p-md-5">
                    <h2 class="h3 mb-4 page-title">Crypto Assets</h2>
                    <table class="table">
                        <thead class="thead-dark">
                          <tr>
                            <th scope="col">Cryptocurrency</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Market Price</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let coin of positions">
                                <td>{{coin.cryptoName}}</td>
                                <td>{{coin.coinQuantity}}</td>
                                <td>${{coin.buyPrice.toLocaleString()}}</td>
                              </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Buy order history section -->
<section class="ml-1" id="buyorderhistory" *ngIf="currentUser; else loggedOut">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="card text-black w-100" style="border-radius: 25px;">
                <div class="card-body p-md-5">
                    <h2 class="h3 mb-4 page-title">Buy Order History</h2>
                    <table class="table">
                        <thead class="thead-dark">
                          <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Cryptocurrency</th>
                            <th scope="col">USD Spent</th>
                            <th scope="col">Market Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Transaction Type</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let coin of buyOrders">
                                <td>{{coin.buyDate}}</td>
                                <td>{{coin.cryptoName}}</td>
                                <td>${{coin.total.toLocaleString()}}</td>
                                <td>${{coin.buyPrice.toLocaleString()}}</td>
                                <td>{{coin.quantity}}</td>
                                <td>Buy</td>
                              </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Sell order history section -->
<section class="ml-1" id="sellorderhistory" *ngIf="currentUser; else loggedOut">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="card text-black w-100" style="border-radius: 25px;">
                <div class="card-body p-md-5">
                    <h2 class="h3 mb-4 page-title">Sell Order History</h2>
                    <table class="table">
                        <thead class="thead-dark">
                          <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Cryptocurrency</th>
                            <th scope="col">USD Spent</th>
                            <th scope="col">Market Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Transaction Type</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let coin of sellOrders">
                                <td>{{coin.sellDate}}</td>
                                <td>{{coin.cryptoName}}</td>
                                <td>${{coin.total.toLocaleString()}}</td>
                                <td>${{coin.sellPrice.toLocaleString()}}</td>
                                <td>{{coin.quantity}}</td>
                                <td>Sell</td>
                              </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
</section>

<ng-template #loggedOut>
    Please login.
</ng-template>