<!-- Profile settings section -->
<section class="ml-1">
    <div class="parent-container d-flex">
        <div class="container">
            <div class="card text-black h-100" style="border-radius: 25px;">
                <div class="card-body p-md-5">
                    <div class="row justify-content-center">
                        <div class="col-12 col-lg-10 col-xl-8 mx-auto">
                            <h2 class="h3 mb-4 page-title">Account Settings</h2>
                            <div class="my-4">
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="firstname">Name</label>
                                        <p>Morgan Stanley</p>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="inputAddress5">Age</label>
                                        <p>23</p>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="firstname">Username</label>
                                        <p>ms1</p>
                                    </div>
                                </div>
                                <hr class="my-4" />
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="firstname">Date Account Created</label>
                                        <p>March 7, 2022</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card text-black" style="border-radius: 25px;">
                <div class="card-body p-md-5">
                    <div class="row justify-content-center">
                        <div class="col-12 col-lg-10 col-xl-8 mx-auto">
                            <h2 class="h3 mb-4 page-title">Change Settings</h2>
                            <div class="my-4">
                                <form>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="firstname">Change Username</label>
                                            <input type="text" id="firstname" class="form-control account" />
                                        </div>
                                    </div>
                                    <hr class="my-4" />
                                    <div class="row mb-4">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="inputPassword4">Old Password</label>
                                                <input type="password" class="form-control account" id="inputPassword5" />
                                            </div>
                                            <div class="form-group">
                                                <label for="inputPassword5">New Password</label>
                                                <input type="password" class="form-control account" id="inputPassword5" />
                                            </div>
                                            <div class="form-group">
                                                <label for="inputPassword6">Confirm Password</label>
                                                <input type="password" class="form-control account" id="inputPassword6" />
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <p class="mb-2">Password requirements</p>
                                            <p class="small text-muted mb-2">To create a new password, you have to meet all of the following requirements:</p>
                                            <ul class="small text-muted pl-4 mb-0">
                                                <li>Minimum 8 character</li>
                                                <li>At least one special character</li>
                                                <li>At least one number</li>
                                                <li>Can’t be the same as a previous password</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary me-1">Save Changes</button>
                                    <button type="submit" class="btn btn-primary delete">Delete Account</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Order history section -->
<section class="ml-1" id="orderhistory">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="card text-black w-100" style="border-radius: 25px;">
                <div class="card-body p-md-5">
                    <h2 class="h3 mb-4 page-title">Order History</h2>
                    <table class="table">
                        <thead class="thead-dark">
                          <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Cryptocurrency</th>
                            <th scope="col">Market Price</th>
                            <th scope="col">Transaction Type</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">March 4, 2022</th>
                            <td>BTC</td>
                            <td>$39,999.99</td>
                            <td>Buy</td>
                          </tr>
                          <tr>
                            <th scope="row">March 4, 2022</th>
                            <td>BTC</td>
                            <td>$39,999.99</td>
                            <td>Sell</td>
                          </tr>
                          <tr>
                            <th scope="row">March 4, 2022</th>
                            <td>DOGE</td>
                            <td>$0.1269</td>
                            <td>Buy</td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
</section>